.booking {
    font-size: 9pt;
    color: #444444;
    background-color: #fff;
}

.booking:not(:last-child) {
    border-bottom: 1px solid #e5e7e7;
}
.booking .left {
    padding:  10px;
    display: inline-block;
    text-align: right;
    width:55px;
    margin-right: 10px;
    vertical-align: top;
}

.booking .right {
    padding: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}